MONGODB_URI=coloque-aqui-a-uri-do-seu-banco-de-dados-mongodb
ADMIN_EMAIL=coloque-aqui-o-email-do-administrador
ADMIN_SENHA=coloque-aqui-a-senha-do-administrador
BASE_URL=coloque-aqui-a-url-do-servidor-da-api-com-a-porta
